<div class="fight-page">
  <div class="fight-title">
    <div class="title">
      <h2>
        {{fight?.fighter1?.name}}
        <span [ngClass]="[fight?.fightType == 'CHAMPIONSHIP' ? 'championshipText' : 'fightNightText']">vs</span>
        {{fight?.fighter2?.name}}
      </h2>
      <p>{{fes.fightTypeFormatter(fight?.fightType)}} fight on {{fight?.date | date}}</p>
    </div>
    <div class="menu">
      <button *ngIf="fight?.result == 'TBA'"(click)="fes.openForm('updateResult','Fight')" class="menu-button">Update Result</button>
      <button [ngClass]="[fight?.result != 'TBA' ? 'blockBtn' : 'menu-button']" (click)="fes.openForm('update','Fight')" style="margin: 0 1rem;">Edit</button>
      <button (click)="fes.openForm('delete','Fight')" class="menu-button">Delete</button>
    </div>
  </div>
  <div class="result">
    <p>Result:
      <span *ngIf="fight?.winner != null">{{fight?.winner?.name}} won by </span>
      {{fes.resultFormatter(fight?.result)}}
    </p>
  </div>
  <div class="fight">
    <div class="left" style="border-top-right-radius:0; border-bottom-right-radius: 0;">
      <div class="image">
        <img src="{{fight?.fighter1?.imageUrl}}" alt="{{fight?.fighter1?.name}}">
      </div>
      <div class="fighter-data">
          <h2 (click)="fes.goToFighterPage(fight?.fighter1?.id)">{{fight?.fighter1?.name}}</h2>
          <div class="stats">
            <h3>Stats</h3>
            <div class="row">
              <p>Height</p>
              <span>{{fight?.fighter1?.height}}</span>
            </div>
            <div class="row">
              <p>Reach</p>
              <span>{{fight?.fighter1?.reach}}</span>
            </div>
            <div class="row">
              <p>Weight</p>
              <span>{{fight?.fighter1?.weight}} Lbs.</span>
            </div>
            <div class="row">
              <p>Weightclass</p>
              <span>{{fight?.fighter1?.weightclass}}</span>
            </div>
            <div class="row">
              <p>Age</p>
              <span>{{fight?.fighter1?.age}}</span>
            </div>
            <div class="row">
              <p>Birthdate</p>
              <span>{{fight?.fighter1?.dob | date}}</span>
            </div>
            <div class="row">
              <p>Fighting Out Of</p>
              <span>{{fight?.fighter1?.fightingOutOf}}</span>
            </div>
            <div class="row">
              <p>UFC Debut</p>
              <span>{{fight?.fighter1?.debut | date}}</span>
            </div>
          </div>
      </div>
    </div>
    <div class="center" [ngClass]="[fight?.fightType == 'CHAMPIONSHIP' ? 'championship' : 'fightNight']">
      <h2>VS</h2>
      <div class="fight-info">
        <p>{{fight?.date | date}}</p>
        <p>{{fight?.fighter1?.weightclass}}</p>
        <p>{{fes.fightTypeFormatter(fight?.fightType)}}</p>
        <p>{{fight?.location}}</p>
        <p
          (click)="fes.goToRefereePage(fight?.referee?.id)"
          class="link" style="cursor: pointer;"
        >
          Referee: {{fight?.referee?.name}}
        </p>
      </div>
    </div>
    <div class="right" style="border-top-left-radius:0; border-bottom-left-radius: 0;">
      <div class="image">
        <img src="{{fight?.fighter2?.imageUrl}}" alt="{{fight?.fighter2?.name}}">
      </div>
      <div class="fighter-data">
        <h2 (click)="fes.goToFighterPage(fight?.fighter2?.id)">{{fight?.fighter2?.name}}</h2>
        <div class="stats">
          <h3>Stats</h3>
          <div class="row">
            <p>Height</p>
            <span>{{fight?.fighter2?.height}}</span>
          </div>
          <div class="row">
            <p>Reach</p>
            <span>{{fight?.fighter2?.reach}}</span>
          </div>
          <div class="row">
            <p>Weight</p>
            <span>{{fight?.fighter2?.weight}} Lbs.</span>
          </div>
          <div class="row">
            <p>Weightclass</p>
            <span>{{fight?.fighter2?.weightclass}}</span>
          </div>
          <div class="row">
            <p>Age</p>
            <span>{{fight?.fighter2?.age}}</span>
          </div>
          <div class="row">
            <p>Birthdate</p>
            <span>{{fight?.fighter2?.dob | date}}</span>
          </div>
          <div class="row">
            <p>Fighting Out Of</p>
            <span>{{fight?.fighter2?.fightingOutOf}}</span>
          </div>
          <div class="row">
            <p>UFC Debut</p>
            <span>{{fight?.fighter2?.debut | date}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="description">
    <p>Description:
      {{fight?.description}}.
    </p>
  </div>

</div>

<div class="shadow" id="shadow" (click)="fes.closeAnyForm('Fight')"></div>

<div class="deleteFight" id="deleteFight">
  <div class="exit">
    <button (click)="fes.closeForm('delete','Fight')" class="ref-button">Close</button>
  </div>
  <h2>Delete Fight</h2>
  <form (ngSubmit)="onDeleteFight(fight?.id)">
    <div class="row">
      <p style="width: 100%;text-align:center;">Are you sure you want to delete
        {{fight?.fighter1?.name}}
          <span style="color:#CC0000;">vs</span>
        {{fight?.fighter2?.name}}?
      </p>
    </div>
    <input type="submit" value="Delete Fight" class="submit-button" />
  </form>
</div>

<div class="updateFight" id="updateFight">
  <div class="exit">
    <button class="ref-button" (click)="fes.closeForm('update','Fight')">Close</button>
  </div>

  <h2>Update Fight</h2>
  <form #updateFight="ngForm" (ngSubmit)="onUpdateFight(updateFight, fight?.id)" ngNativeValidate>
    <div class="row">
      <label for="fighter1">Fighter A</label>
      <select ngModel="{{fight?.fighter1?.name}}" name="fighter1" id="fighter1" required>
        <option value="" disabled>Select Fighter A</option>
        <option *ngFor="let fighter of fighters"
                value="{{fighter?.name}}"
                (click)="selectFighterOne(fighter)">
          {{fighter?.name}}
        </option>
      </select>
    </div>

    <div class="row" style="margin: 1rem 0" [ngClass]="[filtered.length < 1 ? 'block' : 'open']">
      <label for="fighter2">Fighter B</label>
      <select ngModel="{{fight?.fighter2?.name}}" name="fighter2" id="fighter2" required>
        <option value="" disabled>Select Fighter B</option>
        <option *ngFor="let fighter of filtered" value="{{fighter?.name}}">
          {{fighter?.name}}
        </option>
      </select>
    </div>

    <div class="row">
      <label for="fightType">Fight Type</label>
      <select name="fightType" id="fightType" required>
        <option value="Select Fight Type" disabled>Select Fight Type</option>
        <option *ngFor="let type of fightTypes" value="{{type}}">
          {{type}}
        </option>
      </select>
    </div>

    <div class="row" style="margin: 1rem 0">
      <label for="referee">Referee</label>
      <select ngModel="{{fight?.referee?.name}}" name="refereeName" id="refereeName" required>
        <option value="" disabled>Select Referee</option>
        <option *ngFor="let referee of referees" value="{{referee?.name}}">
          {{referee?.name}}
        </option>
      </select>
    </div>

    <div class="row">
      <label for="date">Event Date</label>
      <input ngModel="{{fight?.date}}" type="date" name="date" id="date" required placeholder="Enter event date"/>
    </div>

    <div class="row" style="margin: 1rem 0">
      <label for="location">Location</label>
      <select ngModel="{{fight?.location}}" name="location" id="location" required>
        <option value="" disabled>Select Location</option>
        <option *ngFor="let location of locations" value="{{location}}">
          {{location}}
        </option>
      </select>
    </div>
    <input type="submit" value="Update Fight" class="submit-button" />
  </form>
</div>

<div class="updateResultFight" id="updateResultFight">
  <div class="exit">
    <button class="ref-button" (click)="fes.closeForm('updateResult','Fight')">Close</button>
  </div>

  <h2>Update Fight Result</h2>
  <form #updateResult="ngForm" (ngSubmit)="onUpdateFight(updateResult, fight?.id)" ngNativeValidate>
    <div class="row">
      <label for="result">Set Result</label>
      <select ngModel="{{fight?.result}}" name="result" id="result" required>
        <option value="" disabled>Select Official Result</option>
        <option *ngFor="let result of results" value="{{result}}">
          {{result}}
        </option>
      </select>
    </div>

    <div class="row">
      <label for="fighter1">Fighter A</label>
      <select ngModel name="winner" id="winner" required>
        <option value="" disabled>Select the Winner</option>
        <option *ngFor="let fighter of fighters"
                value="{{fighter?.name}}">
          {{fighter?.name}}
        </option>
      </select>
    </div>

    <input type="submit" value="Update Fight Results" class="submit-button" />
  </form>
</div>
