<div class="fighter-page">
  <div class="fighterMenu">
    <h1>Fighters Page</h1>
    <button class="menu-button" (click)="fes.openForm('add','Fighter')">Add Fighter</button>
  </div>

  <table id="fighters">
    <tr>
      <th>Fighter#</th>
      <th>Full Name</th>
      <th>Weight</th>
      <th>Weightclass</th>
      <th>Height</th>
      <th>Reach</th>
      <th>Birthdate</th>
      <th>Ufc Debut</th>
      <th>Age</th>
    </tr>
    <tr *ngFor="let fighter of fighters">
      <td>{{fighter?.id}}</td>
      <td (click)="fes.goToFighterPage(fighter?.id)" id="fighterLink">{{fighter?.name}}</td>
      <td>{{fighter?.weight}} Lbs.</td>
      <td>{{fighter?.weightclass}}</td>
      <td>{{fighter?.height}}</td>
      <td>{{fighter?.reach}} inches</td>
      <td>{{fighter?.dob | date}}</td>
      <td>{{fighter?.debut | date}}</td>
      <td>{{fighter?.age}}</td>
    </tr>
  </table>
  <div *ngIf="fighters.length < 1" class="nothing-to-show">
    <p>No Fighters in SpringBoot Ufc.</p>
  </div>
</div>

<div class="shadow" id="shadow" (click)="fes.closeAnyForm('Fighter')"></div>

<div class="addFighter" id="addFighter">
  <div class="exit">
    <button class="ref-button" (click)="fes.closeForm('add','Fighter')">Close</button>
  </div>
  <h2>Add Fighter</h2>
  <form #addFighter="ngForm" (ngSubmit)="onAddFighter(addFighter)" ngNativeValidate>
    <div class="row">
      <label for="name">Full Name</label>
      <input ngModel type="text" name="name" id="name" required placeholder="Example: Dana White" />
    </div>
    <div class="row" style="margin: 1rem 0">
      <label for="dob">Date of Birth</label>
      <input ngModel type="date" name="dob" id="dob" required placeholder="MM/DD/YYYY" />
    </div>
    <div class="row">
      <label for="age">Age</label>
      <input ngModel pattern="^[0-9]*$" min="18" max="65" type="number" name="age" id="age" required placeholder="Enter your age" />
    </div>
    <div class="row" style="margin: 1rem 0">
      <label for="weight">Weight</label>
      <input ngModel type="number" name="weight" id="weight" required placeholder="Example: 155 lbs" />
    </div>
    <div class="row">
      <label for="height">Height</label>
      <input ngModel type="text" name="height" id="height" required placeholder="Example: 6ft 5in" />
    </div>
    <div class="row" style="margin: 1rem 0">
      <label for="reach">Reach</label>
      <input ngModel type="number" step="0.01" name="reach" id="reach" required placeholder="Example: 65in" />
    </div>
    <div class="row">
      <label for="fightingOutOf">Fighting Out Of</label>
      <input ngModel type="text" name="fightingOutOf" id="fightingOutOf" required placeholder="Enter current location" />
    </div>
    <div class="row" style="margin: 1rem 0">
      <label for="debut">Debut Date</label>
      <input ngModel type="date" name="debut" id="debut" required placeholder="MM/DD/YYYY" />
    </div>
    <div class="row">
      <label for="imageUrl">Profile Picture</label>
      <input ngModel type="url" name="imageUrl" id="imageUrl" required placeholder="Enter profile picture" />
    </div>

    <input type="submit" value="Add Fighter" class="submit-button" />
  </form>
</div>
