<div class="referee-page">
  <div class="refereeMenu">
    <h1>Referees Page</h1>
    <button class="menu-button" (click)="fes.openForm('add', 'Referee')">Add Referee</button>
  </div>

  <table id="referees">
    <tr>
      <th>Referee#</th>
      <th>Full Name</th>
      <th>Birthdate</th>
      <th>Age</th>
    </tr>
    <tr *ngFor="let referee of referees">
      <td>{{referee?.id}}</td>
      <td (click)="fes.goToRefereePage(referee?.id)" id="refereeLink">{{referee?.name}}</td>
      <td>{{referee?.dob | date}}</td>
      <td>{{referee?.age}}</td>
    </tr>
  </table>
  <div *ngIf="referees.length < 1" class="nothing-to-show">
    <p>No referees in SpringBoot Ufc.</p>
  </div>
</div>

<div class="shadow" id="shadow" (click)="fes.closeAnyForm('Referee')"></div>

<div class="addReferee" id="addReferee">
  <div class="exit">
    <button class="ref-button" (click)="fes.closeForm('add','Referee')">Close</button>
  </div>
  <h2>Add Referee</h2>
  <form #addReferee="ngForm" (ngSubmit)="onAddReferee(addReferee)" ngNativeValidate>
    <div class="row">
      <label for="name">Full Name</label>
      <input ngModel type="text" name="name" id="name" required placeholder="Enter full name"/>
    </div>
    <div class="row" style="margin: 1rem 0">
      <label for="dob">Date of Birth</label>
      <input ngModel type="date" name="dob" id="dob" required placeholder="MM/DD/YYYY" />
    </div>
    <div class="row">
      <label for="age">Age</label>
      <input
        ngModel
        type="number"
        min="18" max="65"
        name="age"
        id="age"
        required
        pattern="^[0-9]*$"
        placeholder="Enter Age" />
    </div>
    <div class="row" style="margin: 1rem 0">
      <label for="imageUrl">Profile Picture</label>
      <input ngModel type="url" name="imageUrl" id="imageUrl" required placeholder="Enter profile picture"/>
    </div>
    <input type="submit" value="Add Referee" class="submit-button" />
  </form>
</div>
