<div class="fight-page">
  <div class="fight-menu">
    <h2>All Fights Page</h2>
    <button (click)="openForm('add')" class="menu-button">Add Fight</button>
  </div>

  <table id="fights">
    <tr>
      <th>Fight #</th>
      <th>Fighter 1</th>
      <th>Fighter 2</th>
      <th>Weightclass</th>
      <th>Fight Type</th>
      <th>Location</th>
      <th>Date</th>
      <th>Result</th>
    </tr>
    <tr *ngFor="let fight of fights">
      <td>{{fight?.id}}
        <p (click)="goToFightPage(fight?.id)" id="fightLink">view</p>
      </td>
      <td
        (click)="goToFighterPage(fight?.fighter1?.id)"
        id="fighterLink"
        >{{fight?.fighter1?.name}}</td>
      <td
        (click)="goToFighterPage(fight?.fighter2?.id)"
        id="fighterLink"
        >{{fight?.fighter2?.name}}</td>
      <td>{{fight?.fighter1?.weightclass}}</td>
      <td>{{fight?.fightType}}</td>
      <td>{{fight?.location}}</td>
      <td>{{fight?.date | date}}</td>
      <td *ngIf="fight?.result != null">{{fight?.result}}</td>
    </tr>
  </table>
  <div *ngIf="fights.length < 1" class="nothing-to-show">
    <p>No Fights in SpringBoot Ufc.</p>
  </div>
</div>

<div class="shadow" id="shadow" (click)="closeForm('add')"></div>

<div class="addFight" id="addFight">
  <div class="exit">
    <button class="ref-button" (click)="closeForm('add')">Close</button>
  </div>

  <h2>Add Fight</h2>
  <form #addFightForm="ngForm" (ngSubmit)="onAddFight(addFightForm)" ngNativeValidate>
    <div class="row">
      <label for="fighter1">Fighter A</label>
      <select ngModel name="fighter1" id="fighter1" required>
        <option value="" disabled>Select Fighter A</option>
        <option *ngFor="let fighter of fighters" value="{{fighter?.name}}">
          {{fighter?.name}}
        </option>
      </select>
    </div>

    <div class="row" style="margin: 1rem 0">
      <label for="fighter2">Fighter B</label>
      <select ngModel name="fighter2" id="fighter2" required>
        <option value="" disabled>Select Fighter B</option>
        <option *ngFor="let fighter of fighters" value="{{fighter?.name}}">
          {{fighter?.name}}
        </option>
      </select>
    </div>

    <div class="row">
      <label for="fightType">Fight Type</label>
      <select ngModel name="fightType" id="fightType" required>
        <option value="" disabled>Select Fight Type</option>
        <option *ngFor="let type of fightTypes" value="{{type}}">
          {{type}}
        </option>
      </select>
    </div>

    <div class="row" style="margin: 1rem 0">
      <label for="referee">Referee</label>
      <select ngModel name="refereeName" id="refereeName" required>
        <option value="" disabled>Select Referee</option>
        <option *ngFor="let referee of referees" value="{{referee?.name}}">
          {{referee?.name}}
        </option>
      </select>
    </div>

    <div class="row">
      <label for="date">Event Date</label>
      <input ngModel type="date" name="date" id="date" required placeholder="Enter event date"/>
    </div>

    <div class="row" style="margin: 1rem 0">
      <label for="location">Location</label>
      <select ngModel name="location" id="location" required>
        <option value="" disabled>Select Location</option>
        <option *ngFor="let location of locations" value="{{location}}">
          {{location}}
        </option>
      </select>
      <input type="hidden" name="result" ngModel="{{result}}">
    </div>
    <input type="submit" value="Add Fight" class="submit-button" />
  </form>
</div>
