.home{
  width: 100%;
  min-height: 90vh;
  background: #fff;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 1rem;
  .home-title{
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1.5rem;
      margin: .4rem 0;
    }
    h3{
      font-size: 2rem;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover{
        color: #CC0000;
      }
    }
  }

  .fight{
    border-radius: 1rem;
    height: 117vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #e2ac6b;

    .left,.right{
      border-radius: 1rem;
      height: 100%;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #2f2f2f;
      text-align: center;
      padding: 1rem;
      .image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          object-fit: contain;
          width: 20rem;
          height: 20rem;
        }
      }

      .fighter-data{
        border-top: 1.5px solid #fff;
        h2{
          width: 100%;
          font-size: 2rem;
          color: white;
          cursor: pointer;
          transition: all .3s ease-in-out;
          &:hover{
            color:#CC0000;
          }
        }

        .stats{
          margin-top: .5rem;
          width: 100%;
          color: white;
          h3{
            width: 100%;
            text-align: left;
            font-size: 1rem;
          }
          .row{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:space-between;
            font-size: 1rem;
            border: 1px solid #fff;
            p{
              border-right: 1px solid #fff;
              padding: .25rem 1rem;
              width: 50%;
              text-align: left;
            }

            span{
              width: 50%;
            }
          }
        }

      }
    }
    .center{
      width: 25%;
      padding: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      h2{
        font-size: 2rem;
        color: white;
        margin: 2rem 0;
      }
      p{
        font-size: 1.2rem;
        color: white;
        margin: .5rem 0;
        transition: all 0.5s ease-in-out;
      }
      .link{
        &:hover{
          color: #2f2f2f;
        }
      }

    }
  }
}

.championship{
  background-color: #e2ac6b;
  background-image: linear-gradient(315deg, #e2ac6b 0%, #cba36d 74%);
}

.fightNight{
  background: #8d0000;
}

.championshipText{
  color:#e2ac6b;
}

.fightNightText{
  color: #8d0000;
}
