<div class="home">
  <div class="home-title">
    <h1>Welcome to SpringBoot Ufc</h1>
    <p>Are you ready for the main event this weekend?</p>
    <h3 (click)="goToFightPage(fightData?.id)" >
      {{fightData?.fighter1?.name}}
      <span [ngClass]="[fightData?.fightType == 'CHAMPIONSHIP' ? 'championshipText' : 'fightNightText']">vs</span>
      {{fightData?.fighter2?.name}}
    </h3>
  </div>

  <div class="fight">
    <div class="left" style="border-top-right-radius:0; border-bottom-right-radius: 0;">
      <div class="image">
        <img src="{{fightData?.fighter1?.imageUrl}}" alt="{{fightData?.fighter1?.name}}">
      </div>
      <div class="fighter-data">
          <h2 (click)="goToFighterPage(fightData?.fighter1?.id)">{{fightData?.fighter1?.name}}</h2>
          <div class="stats">
            <h3>Stats</h3>
            <div class="row">
              <p>Height</p>
              <span>{{fightData?.fighter1?.height}}</span>
            </div>
            <div class="row">
              <p>Reach</p>
              <span>{{fightData?.fighter1?.reach}} inches</span>
            </div>
            <div class="row">
              <p>Weight</p>
              <span>{{fightData?.fighter1?.weight}} Lbs.</span>
            </div>
            <div class="row">
              <p>Weightclass</p>
              <span>{{fightData?.fighter1?.weightclass}}</span>
            </div>
            <div class="row">
              <p>Age</p>
              <span>{{fightData?.fighter1?.age}} yrs old</span>
            </div>
            <div class="row">
              <p>Birthdate</p>
              <span>{{fightData?.fighter1?.dob | date}}</span>
            </div>
            <div class="row">
              <p>Fighting Out Of</p>
              <span>{{fightData?.fighter1?.fightingOutOf}}</span>
            </div>
            <div class="row">
              <p>UFC Debut</p>
              <span>{{fightData?.fighter1?.debut | date}}</span>
            </div>
          </div>
      </div>
    </div>
    <div class="center" [ngClass]="[fightData?.fightType == 'CHAMPIONSHIP' ? 'championship' : 'fightNight']">
      <h2>VS</h2>
      <div class="fight-info">
        <p>{{fightData?.date | date}}</p>
        <p>{{fightData?.fighter1?.weightclass}}</p>
        <p>{{fightTypeFormatter(fightData?.fightType)}}</p>
        <p>{{fightData?.location}}</p>
        <p
          (click)="goToRefereePage(fightData?.referee?.id)"
          class="link" style="cursor: pointer;"
        >
          Referee: {{fightData?.referee?.name}}
        </p>
      </div>
    </div>
    <div class="right" style="border-top-left-radius:0; border-bottom-left-radius: 0;">
      <div class="image">
        <img src="{{fightData?.fighter2?.imageUrl}}" alt="{{fightData?.fighter2?.name}}">
      </div>
      <div class="fighter-data">
        <h2 (click)="goToFighterPage(fightData?.fighter2?.id)">{{fightData?.fighter2?.name}}</h2>
        <div class="stats">
          <h3>Stats</h3>
          <div class="row">
            <p>Height</p>
            <span>{{fightData?.fighter2?.height}}</span>
          </div>
          <div class="row">
            <p>Reach</p>
            <span>{{fightData?.fighter2?.reach}} inches</span>
          </div>
          <div class="row">
            <p>Weight</p>
            <span>{{fightData?.fighter2?.weight}} Lbs.</span>
          </div>
          <div class="row">
            <p>Weightclass</p>
            <span>{{fightData?.fighter2?.weightclass}}</span>
          </div>
          <div class="row">
            <p>Age</p>
            <span>{{fightData?.fighter2?.age}} yrs old</span>
          </div>
          <div class="row">
            <p>Birthdate</p>
            <span>{{fightData?.fighter2?.dob | date}}</span>
          </div>
          <div class="row">
            <p>Fighting Out Of</p>
            <span>{{fightData?.fighter2?.fightingOutOf}}</span>
          </div>
          <div class="row">
            <p>UFC Debut</p>
            <span>{{fightData?.fighter2?.debut | date}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
