<div class="fighter-page">
  <div class="fighter-title">
    <h2>{{fighter?.name}}</h2>
    <div class="menu">
      <button (click)="fes.openForm('update','Fighter')" class="menu-button">Edit</button>
      <button (click)="fes.openForm('delete','Fighter')" class="menu-button" style="margin-left: 1rem;">Delete</button>
    </div>
  </div>

  <div class="info">
    <div class="image" style="border-bottom-right-radius: 0;border-top-right-radius: 0;">
      <img src="{{fighter?.imageUrl}}" alt="{{fighter?.name}}">
    </div>
    <div class="biography" style="border-bottom-left-radius: 0;border-top-left-radius: 0;">
      <h3>Biography</h3>
      <div class="data">
        <p>Weight</p>
        <span>{{fighter?.weight}} Lbs.</span>
      </div>
      <div class="data">
        <p>Weightclass</p>
        <span>{{fighter?.weightclass}}</span>
      </div>
      <div class="data">
        <p>Height</p>
        <span>{{fighter?.height}}</span>
      </div>
      <div class="data">
        <p>Reach</p>
        <span>{{fighter?.reach}} inches</span>
      </div>
      <div class="data">
        <p>Birth date</p>
        <span>{{fighter?.dob | date}}</span>
      </div>
      <div class="data">
        <p>Age</p>
        <span>{{fighter?.age}} yrs old</span>
      </div>
      <div class="data">
        <p>UFC Debut</p>
        <span>{{fighter?.debut | date}}</span>
      </div>
      <div class="data">
        <p>Fighting Out Of</p>
        <span style="width: 50%;text-align: right;">{{fighter?.fightingOutOf}}</span>
      </div>
    </div>
  </div>

  <div class="fights">
    <h2>{{fighter?.name}}'s' fight history</h2>
    <div class="fight" *ngFor="let fight of filteredFights">
      <div class="poster" style="border-top-right-radius:0; border-bottom-right-radius: 0;">
        <div class="poster-title" [ngClass]="[fight?.fightType == 'CHAMPIONSHIP' ? 'championship' : 'fightNight']">
          <h2>{{fight?.fighter1.name}}</h2>
          <span>vs</span>
          <h2>{{fight?.fighter2.name}}</h2>
        </div>
        <div class="face-off">
          <img src="{{fight?.fighter1.imageUrl}}" alt="{{fight?.fighter1.name}}">
          <img src="{{fight?.fighter2.imageUrl}}" alt="{{fight?.fighter2.name}}">
        </div>
        <div class="poster-text" [ngClass]="[fight?.fightType == 'CHAMPIONSHIP' ? 'championship' : 'fightNight']">
          <p>{{fight?.date | date}}</p>
          <p>{{fight?.location}}</p>
        </div>
      </div>
      <div class="info" style="border-top-left-radius:0; border-bottom-left-radius: 0;">
        <div class="fight-title">
          <h2>{{fight?.fighter1.name}}</h2>
          <span>vs</span>
          <h2>{{fight?.fighter2.name}}</h2>
        </div>
        <p>{{fight?.date | date}}</p>
        <p>{{fight?.location}}</p>
        <p>{{fight?.fighter1.weightclass}} {{fes.fightTypeFormatter(fight?.fightType)}}</p>
        <p>Referee {{fight?.referee?.name}}</p>
        <p>Result:
          <span *ngIf="fight?.winner != null">{{fight?.winner?.name}} won by </span>
          {{fes.resultFormatter(fight?.result)}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="shadow" id="shadow" (click)="fes.closeAnyForm('Fighter')"></div>

<div class="deleteFighter" id="deleteFighter">
  <div class="exit">
    <button (click)="fes.closeForm('delete','Fighter')" class="ref-button">Close</button>
  </div>
  <h2>Delete Fighter</h2>
  <form (ngSubmit)="onDeleteFighter(fighter?.id)">
    <div class="row">
      <p style="width: 100%;text-align:center;">Are you sure you want to delete {{fighter?.name}}?</p>
    </div>
    <input type="submit" value="Delete Fighter" class="submit-button" />
  </form>
</div>


<div class="updateFighter" id="updateFighter">
  <div class="exit">
    <button class="ref-button" (click)="fes.closeForm('update','Fighter')">Close</button>
  </div>
  <h2>Update Fighter</h2>
  <form #updateFighterForm="ngForm" (ngSubmit)="onUpdateFighter(updateFighterForm, fighter?.id)" ngNativeValidate>
    <div class="row">
      <label for="name">Full Name</label>
      <input ngModel="{{fighter?.name}}" type="text" name="name" id="name" required placeholder="{{fighter?.name}}" />
    </div>
    <div class="row" style="margin: 1rem 0">
      <label for="weight">Weight</label>
      <input ngModel="{{fighter?.weight}}" type="number" step="0.01" name="weight" id="weight" required placeholder="{{fighter?.weight}}" />
    </div>
    <div class="row">
      <label for="height">Height</label>
      <input ngModel="{{fighter?.height}}" type="text" name="height" id="height" required placeholder="{{fighter?.height}}" />
    </div>
    <div class="row">
      <label for="reach">Reach</label>
      <input ngModel="{{fighter?.reach}}" type="number" step="0.01" name="reach" id="reach" required placeholder="{{fighter?.reach}}"/>
    </div>
    <div class="row" style="margin: 1rem 0">
      <label for="dob">Date of Birth</label>
      <input ngModel="{{fighter?.dob}}" type="date" name="dob" id="dob" required placeholder="{{fighter?.dob}}" />
    </div>
    <div class="row">
      <label for="age">Age</label>
      <input ngModel="{{fighter?.age}}" min="18" max="65" type="number" pattern="^[0-9]*$" name="age" id="age" required placeholder="{{fighter?.age}}" />
    </div>
    <div class="row">
      <label for="age">Fighting Out Of</label>
      <input ngModel="{{fighter?.fightingOutOf}}" type="text" name="fightingOutOf" id="fightingOutOf" required placeholder="{{fighter?.fightingOutOf}}" />
    </div>
    <div class="row">
      <label for="age">Debut</label>
      <input ngModel="{{fighter?.debut}}" type="date" name="debut" id="debut" required placeholder="{{fighter?.debut}}" />
    </div>
    <div class="row">
      <label for="age">Profile Picture</label>
      <input ngModel="{{fighter?.imageUrl}}" type="url" name="imageUrl" id="imageUrl" required placeholder="{{fighter?.imageUrl}}" />
    </div>
    <input type="submit" value="Update Fighter" class="submit-button" />
  </form>
</div>
